[submodule "google/protobuf"]
	path = google/protobuf
  url = https://github.com/google/protobuf.git
[submodule "kaldi-python"]
	path = kaldi-python
	url = https://github.com/dmitriy-serdyuk/kaldi-python
